import jenkins.model.*
import hudson.model.*
import hudson.slaves.*



ComputerLauncher launcher = new JNLPLauncher()
Slave slave = new DumbSlave("{{ ansible_hostname}}",
                            "{{ jenkinsagent_workdir }}",
                            launcher)
slave.numExecutors = {{ jenkinsagent_executors_num }}
slave.mode = Node.Mode.NORMAL
slave.retentionStrategy = new RetentionStrategy.Always()
Jenkins.instance.addNode(slave)
print slave.getComputer().getJnlpMac()